</!DOCTYPE html>
<html>
<head>
	<title>News Api Client</title>
</head>
<body>
	<p style="text-align: center;  font-weight: bold">
		{{ title }}
	</p>

    <p style="text-align: center">
		Date and Time Published: {{ date }}
	</p>

	<p style="text-align: center">
		<img src="{{ image }}" style="max-width: 60%; max-height: 60%">
	</p>

	<p style="text-align: center">
		{{ description }}
	</p>

	<p style="text-align: center">
		<a href="{{ url }}">Link</a>
	</p>

</body>
</html>